<div class="layout-main-container">
  <p-messages key="error"></p-messages>
  <p-toast key="success" position="top-right"></p-toast>
  <div class="layout-main">
    <div
      style="
        width: 300px;
        margin: auto;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        padding: 25px;
        filter: alpha(opacity=95);
        opacity: 0.95;
        border-radius: 10x;
        border: 1px solid #ffffff;
        text-align: center;
      "
    >
      <h3 i18n>{{ "Sportos Portal" | translate }}</h3>

      <form [formGroup]="form" (keydown.enter)="submitForm($event)">
        <!-- password -->
        <div
          class="p-field p-col"
          style="width: 222px; padding-bottom: 20px; margin: 0 auto"
        >
          <span class="p-fluid">
            <input
              type="password"
              pInputText
              [ngClass]="{
                'required-background-class':
                  form.controls['password'].hasError('required')
              }"
              [formControl]="form.controls['password']"
              pTooltip="{{ 'register.passwordStrength' | translate }}"
              placeholder="{{ 'register.password' | translate }}"
            />
          </span>
        </div>

        <!-- confirm password -->
        <div
          class="p-field p-col"
          style="width: 222px; padding-bottom: 20px; margin: 0 auto"
        >
          <span class="p-fluid">
            <input
              type="password"
              pInputText
              [ngClass]="{
                'required-background-class':
                  form.controls['confirmPassword'].hasError('required')
              }"
              [formControl]="form.controls['confirmPassword']"
              placeholder="{{ 'register.confirmPassword' | translate }}"
            />
          </span>
        </div>

        <!-- button -->
        <div class="p-field p-col" style="margin: 0 auto">
          <span class="p-fluid">
            <button
              (click)="resetPassword()"
              pButton
              pRipple
              type="button"
              label="{{ 'info.submit' | translate }}"
              type="submit"
            ></button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <app-footer></app-footer>
</div>
