<div class="layout-main">
  <div
    style="
      width: 300px;
      margin: auto;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      padding: 25px;
      filter: alpha(opacity=95);
      opacity: 0.95;
      border-radius: 10x;
      border: 1px solid #ffffff;
      text-align: center;
    "
  >
    <h3 i18n>{{ "Create match" | translate }}</h3>

    <form [formGroup]="form" (keydown.enter)="submitForm($event)">
      <div class="formgroup-inline">
        <!-- sport -->
        <div
          class="p-field p-col"
          style="width: 222px; padding-bottom: 20px; margin: 0 auto"
        >
          <span class="p-fluid">
            <p-dropdown
              [options]="sports"
              optionLabel="name"
              optionValue="name"
              [showClear]="true"
              placeholder="Sport"
              [formControl]="form.controls['sport']"
              (onChange)="onChangeSport($event)"
            ></p-dropdown>
          </span>
        </div>

        <!-- place -->
        <div
          class="p-field p-col"
          style="width: 222px; padding-bottom: 20px; margin: 0 auto"
          *ngIf="sport !== undefined"
        >
          <span class="p-fluid">
            <p-dropdown
              [options]="places"
              optionLabel="name"
              optionValue="username"
              [showClear]="true"
              placeholder="Place"
              [formControl]="form.controls['place']"
              (onChange)="onChangePlace($event)"
            ></p-dropdown>
          </span>
        </div>

        <!-- date -->
        <div
          class="p-field p-col"
          style="width: 222px; padding-bottom: 20px; margin: 0 auto"
          *ngIf="place !== undefined"
        >
          <span class="p-fluid">
            <p-calendar
              placeholder="Date"
              [formControl]="form.controls['date']"
              [showIcon]="true"
              inputId="icon"
              (onSelect)="onChangeDate($event)"
            ></p-calendar>
          </span>
        </div>

        <!-- time -->
        <div
          class="p-field p-col"
          style="width: 222px; padding-bottom: 20px; margin: 0 auto"
          *ngIf="date !== undefined"
        >
          <span class="p-fluid">
            <p-dropdown
              [options]="times"
              optionLabel="value"
              optionValue="value"
              [showClear]="true"
              placeholder="Time"
              [formControl]="form.controls['time']"
              (onChange)="onChangeTime($event)"
            ></p-dropdown>
          </span>
        </div>
        <!-- button -->
        <div class="p-field p-col" style="margin: 0 auto">
          <span class="p-fluid">
            <button
              (click)="createMatch()"
              pButton
              pRipple
              type="button"
              label="{{ 'createMatch.create' | translate }}"
              type="submit"
            ></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
